

.galvenais{
    font-family: 'AR One Sans', sans-serif;
}
.augsa{
background-color: black;

}

.parmani{
    margin-left: 150px;
    font-size: 150px;
}
.teksts{
    margin: 150px;
margin-top:50px


}
.div1{
height:200px;
width:1000px;

}
.portrets{
    margin-top:-200px;
    margin-left:900px;

}
.karuselis{
    justify-content: center;
align-items: center;
height: 20%;

}