

.galvenais{
    font-family: 'AR One Sans', sans-serif;
}
.augsa{
background-color: black;

}
.sakums{

    display:flex;
    justify-content:left;
    align-items: center;
    
}
.parmani{
    margin-left: 150px;
    font-size: 150px;
}
.prasmes{
    margin-left: 150px;
    font-size: 100px;
} 

.teksts{
    margin: 150px;
margin-top:50px


}
.div1{
height:200px;
width:1000px;

}
.portrets{
    position: absolute;
    margin-top:200px;   
    margin-left:870px;

}
.karuselis{
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
  
}